
ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 8px 15px;
  display: block;
  text-transform: capitalize;
  background-color: transparent;
  color: black !important;
}
a:hover{
  text-decoration: none;
}
 a.active {
  background-color: #007bff;
  color: white !important;
}

.navbar-light .navbar-nav .active>.nav-link {
  background-color: #007bff;
  color: white !important;
}